<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="com.dsh.m.util.redis.RedisPlugin" init-method="start" destroy-method="stop">
		<constructor-arg name="cacheName" value="${redis.name}"/>
		<constructor-arg name="host" value="${redis.ip}"/>
		<constructor-arg name="port" value="${redis.port}"/>
		<constructor-arg name="timeout" value="${redis.timeout}"/>
	</bean>
	
</beans>
