<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 	<!-- ActiveMQ 连接 -->
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${mq.url}" />
        <property name="useAsyncSend" value="true"/>
        <property name="userName" value="${mq.username}"/>
        <property name="password" value="${mq.password}"/>
    </bean>
    
    <import resource="jms/jms-order.xml"/>
    <import resource="jms/jms-log.xml"/>
    
</beans>
