@charset "utf-8";
/* CSS Document */
/*html5*/

header nav ul li a.current1{color:#fff;text-decoration:none; background-color:#949494;}
.banner{ position:relative;width:100%; height:125px;margin:40px auto 20px auto; background:url(../images/banner.png) no-repeat center; background-size:cover;}
.banner .head{ position:absolute; left:50%; top:8px; margin-left:-82px; width:164px; height:164px; border-radius:50%; background-color:#F1F1F1; text-align:center;}
.banner .head a{ display:block; width:100%; height:100%;}
.banner .head span img{margin:10px auto 5px auto;  }
.banner .head span{ display:block; width:100%; text-align:center; font-size:20px;}
.banner .logined { width:100%;height:60px;padding:20px 0;}
.banner .logined dl{ width:100%;}
.banner .logined dl dt{ float:left;  margin:0 3%; padding:7px 0; text-align:center;border-radius:50%; background-color:#F1F1F1; background-size: 80%;}
.banner .logined dl dt img{ width:70%;}
.banner .logined dl dd{float:left;width:50%;height:50px; line-height:45px;} 
.banner .logined dl dd.name{ font-size:30px; color:#fff;}
.banner .logined dl dd.name a{ color:#fff;}
.banner .logined dl dd span{ display:block; width:100px; height:30px;line-height:30px;background-color:#F1F1F1;border-radius:15px; text-align:center;}

.h65{ float:left; width:100%; height:65px;}
.box{float:left; width:96%;  margin:0 auto 20px auto; padding:0 2%;background-color:#fff; border-bottom:1px solid #DFDFDD; }
.box h2{float:left; width:100%; height:34px;line-height:32px; margin-top:5px; margin-bottom:3px;font-weight:normal; font-size:18px;}

.box h2 b,.box h2 b.gaikuang{background-size:20% !important;}

.box h2 b{ float:left; padding-left:25px; background:url(../images/user01.png) no-repeat left center;} 
.box h2 b.gaikuang{background:url(../images/user07.png) no-repeat left center;}
.box h2 span{ float:right; padding-right:15px; color:#757575; background:url(../images/user06.png) no-repeat right center;} 
.box .nav-list{float:left; width:100%; padding:20px 0;;border-top:1px solid #DFDFDD;} 
.box .nav-list a{ display:block; float:left; width:25%; padding-top:50px; text-align:center;font-size:14px;} 
.box .nav-list a.js,.box .nav-list a.sh,.box .nav-list a.th,.box .nav-list a.pj{background-size:50% !important;}
.box .nav-list a.js{ background:url(../images/user02.png) no-repeat center top;} 
.box .nav-list a.sh{ background:url(../images/user03.png) no-repeat center top;} 
.box .nav-list a.th{ background:url(../images/user05.png) no-repeat center top;} 
.box .nav-list a.pj{ background:url(../images/user16.png) no-repeat center top;}
.retrieve{ width:70% !important;}

.box .table-list{float:left; width:100%; margin-bottom:15px; text-align:center; vertical-align:middle; border-collapse:collapse;border:1px solid #DFDFDD;} 
.box .table-list td{  padding:10px 0;border-left:1px solid #DFDFDD;border-right:1px solid #DFDFDD; font-size:14px; color:#747474;}
.box .table-list td.top0{ padding-top:0;}
.box .table-list td span{ color:#008000; font-size:16px;}
.box h2 a{ display:block; color:#727272;height: 34px;}
.box h2 b.b1{background:url(../images/user08.png) no-repeat left center; margin-bottom:15px;}
.box h2 b.b2{background:url(../images/user09.png) no-repeat left center; margin-bottom:15px;}
.box h2 b.b3{background:url(../images/user10.png) no-repeat left center; margin-bottom:15px;}
.box h2 b.b4{background:url(../images/user11.png) no-repeat left center; margin-bottom:15px;}
.box h2 b.b5{background:url(../images/user17.png) no-repeat left center; margin-bottom:15px;}
.box .account{ float:left; width:100%; margin:10px 0;}
.box .account li{ float:left;width:90%; margin:5px 0 5px 5%; line-height:30px; color:#666;}
.box .account li input{ width:80%; height:30px; border:none; font-size:14px; border-bottom:1px solid #DFDFDD;}
.box .account li input.reg{ height:30px;border:1px solid #DFDFDD;}

.u-info{float:left; width:100%; margin:60px 0 20px 0; background-color:#fff;}
.u-info ul{float:left; margin:0; padding:0; width:100%;}
.u-info li{ float:left;width:90%; padding:5px 5%; line-height:40px;border-bottom:1px solid #DFDFDD;}
.u-info li b{float:left; width:30%; }
.u-info li span{float:right;width:70%; text-align:right; color:#576b95;  }
.u-info li span.addr{line-height:20px; padding:5px 0; }
.u-info li span input{ width:70%; border:none;text-align:right;}
.blank{float:left; width:100%; height:100px;background-color:#fff; }

.u-btn{float:left; width:100%; text-align:center;line-height:40px; }
.u-btn input{width:80%; height:40px;text-align:center; color:#fff;  border:none;background-color:#91CC32; border-radius:3px; font-size:16px;}
.u-f{float:left; width:90%; margin:5px 0 150px 10%; padding-bottom:150px; line-height:30px;font-size:14px;  }
.u-f a{color:#999;}